html, body{
	/*height: 100px;*/
	margin: 0px;
	padding: 0px;
}


.container{
	/*padding-left:0px;*/
	/*margin-left:0px; */
	}

#mainContainer{
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 900px;
}



/* ------ BANNER CSS ----- */
#banner{
	height: 120px;
	padding-top: 25px;
	padding-left: 20px;
}
#logo{	
	width: 191px;
	height: 70px;
}

#UGCIS blockquote{
	text-align: left;
	font-size: 30px;
	border-left: 2px solid;
	margin-left: 5px;
	font-family: arial;
	font-weight: 400;
}

/* ------ NAVBAR CSS ----- */


#yellowbar{
	background-color: #FFCA00;
	height: 10px;
	margin: 0px;
}
#navSize{
	padding-left: 0px;
	padding-right: 15px;
	align-content: center;
} 

.navbar-default {
	background-color:#222;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
	padding: 0px;	
	align-content: center;
}

.active a{
   background-color:#FFCA00 !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFCA00;
    color: black;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    width: 100px;
    text-align: center;
}

/* main page content */
/*#mainSearch{
	width: 500px;
	border: 2px solid grey;
	border-radius: 1px;
	text-indent: 20px;

}
*/

#search-input{
	padding: 0px;
	border: 2px;
    border-radius: 3px;
    background-color: none;
    width: 500px;	
}

#search-input button{
	background-color: #1e87c8;
	border-color: #1e87c8;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc; 
	background-color: #489dd2;
    color: ;
}	

#sidebar-toggle{
	background-color: #2196DF;
	border: 100px #1e87c8 solid;
	color: white;
	border-radius: 0px;
	border: 0px; 
	padding: 5px;
}

#sidebar-toggle:hover{
	background-color: #4eabe4;
	color: #0c3953;	

}

#rowOne{
	background-color:#E6E6E6;
	height: 45px;
	width: 100%;
	margin: 0px;
	padding-top: 6px;	
}



.row{
	margin-left: 0px;
	margin-right: 0px;
}



/*  Calendar CSS */
.btncal{
	border-radius: 0px;
	backbround-color:white;
}

form {
    padding: 15px; 
    background-color: #e7eff8; 
    border: #e7eff8 solid;
}

td{
	padding-right: 15px;
	padding-bottom: 0px;
}

#StudentInfo  td{
	padding-bottom: 5px;
}

#AllEditStudentButtons container button{
    display: inline-block;
}
#EditStudentBackButton button{
    float:left;
}
#EditStudentButtons{
    float:right;
}
/*#EditStudentBackButton button{
	float: left;
	vertical-align:5px;
}*/

/*.page-content {
	height: 100%;	
} */

footer{
	width: 100%;
	padding:20px;
	background-color: #222;
	border-top: 5px solid #FFCC00;
}


#footerlinks li{
	display: block;
	float: left;
	color: #FFCC00;
}

#footerlinks li a{
	color: #FFCC00;
	padding: 0px 8px;
}

#footerInfo{
	padding: 15px 0px 0px 80px;
	color: white;
	font-weight: bold;
}
