/* Sidebar */
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 900px;
	overflow-y: hidden; /*content that goes beyond the sidebar doesn't pop out on the screen */
	background-color: #166696;
	border-right: 3px #186ca1 solid;
	border-bottom: 5px #186ca1 solid;
	width: 250px;
	transition: 0.7s;
}

/* main content (area on the right) */
#page-content-wrapper{
	width: 100%;
	position: absolute;
	border: 5px;
	padding-top: 0px;
	padding-left: 250px;
	transition: 0.7s;
}

/* change the width of the sidebar to display it */
#wrapper.menuNotDisplayed #sidebar-wrapper{
	width: 0px;
	border-right: 3px #186ca1 solid;
}

/* this is shifting the main content to the left when the sidebar is open*/
#wrapper.menuNotDisplayed #page-content-wrapper{
	padding-top: 0px;
	padding-left: 0px;
}



.sidebar-nav{
	padding: 10px 0px 0px 0px;
	list-style: none;
}


#AlertSidebar{
	padding-top: 4px;
	text-align: left;
	text-indent: 40px;
	height:35px;
	color: #8ab3ca;
	font-weight: 200;
	font-size: 13px;

}

.sidebar-nav li{
	margin-bottom: 2px;
	margin-right: 3px;
	text-indent: 10px;
	line-height: 40px;
	background-color: #1e87c8;
}

.sidebar-nav li a{
	display: block; /* stack on top of eachother rather than like a paragraph */
	text-decoration: none;
	color: white;
}

.sidebar-nav > li > a:hover, .sidebar-nav > li > a:focus {
    background-color: #bcdff5;
    color: #0c3953;
}

#sidebar-today{
	color: #8ab3ca	;
	text-indent: 37px;
	line-height: 15px;
	text-align: left;
	border: 2px;
	padding-top:5px;
	padding-bottom: 12px;
	font-size: 13px;
}



#sidebar-today-below{
	background-color: #bcdff5;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	border-color: #114b6f ;
}

#sidebar-today-below table{
	border-left: 6px solid #66aeff;
	border-bottom: 1px solid #cccccc;
 	background-color: #f7f7f7;
	width: 100%;
	font-size: 9pt;
}

#sidebar-today-below td{
		vertical-align: bottom;
	padding:3px;
}

.badge{
	display:inline;
}

tr.clickable-row {
	cursor: pointer;
} 

tr.clickable-row:hover{
	background-color: white
}