{% extends "base1.html" %} 
{% load static %}
{% load crispy_forms_tags %}}
{% load render_table from django_tables2 %}

{% block student_active %} active {% endblock student_active %}



{% block content %}

<div class="col-sm-offset-2 ">
  <!--not sure why but this div restores harmony to the padding of this page-->
</div> 
<br>
<div class="col-md-12">
  <div class="container" id="AllEditStudentButtons">
    <div id="EditStudentBackButton" >
      <button type="button" class="btn btn-default glyphicon glyphicon-chevron-left" 
        <a href="< input type=button value=" Previous Page " onClick="javascript:history.go(-1); "  " " > </a>
      </button>  
    </div>
    <div id="EditStudentButtons">
      <button type="button" class="btn btn-default glyphicon glyphicon-plus" <a href="< input type=button value="Add Page" onClick="window.location.href='/student/{{Student.zID}}/courses_taken/addCourses/' "  " "> </a></button>
      <button type="button " class = "btn btn-default glyphicon glyphicon-edit" <a href = "< input type=button value="Edit Page" onClick="window.location.href='/student/{{Student.zID}}/courses_taken/update/" ""> </a></button>
    </div>
  </div>

<h2>
  Results Summary
</h2>
<hr>
<table id="StudentInfo" >
       <tr>
         <td><b>Name: </b></td>
         <td>{{Student.f_name}} {{Student.l_name}}</td>
       </tr>
      <tr>
         <td><b>zID: </b></td>
         <td>{{Student.zID}}</td>
       </tr>
       <tr>
         <td><b>Degree: </b></td>
         <td>{{Student.degreeCode}}</td>
       </tr>
       <tr>
         <td><b>Overall WAM: </b></td>
         <td> {{all_grades|floatformat:2}} </td>
       </tr>
    </table>
<hr>

{% render_table course_taken %}
{% endblock %}