{% extends "base1.html" %} {% load staticfiles %}

{% block student_active %} active {% endblock student_active %}

{% block head %}
{{ form.media }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<br>
  <button type="button" class = "btn btn-default glyphicon glyphicon-chevron-left" <a href = "< input type=button value="Previous Page" onClick="javascript:history.go(-1);"  ""> </a>
    </button>
<div class = "span3">
 <h1 style="padding-left:15px">
   Create Student
 </h1>

</div>
<div class = "row">
  <div class = "col-md-6">   
    <hr/>
    {% csrf_token %}
    {% include 'form_template.html' %} 

    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</div>

{% endblock content %}
