{% extends "base1.html" %} 
{% load static %}
{% load crispy_forms_tags %}}
{% load render_table from django_tables2 %}

{% block student_active %} active {% endblock student_active %}

{% block head %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<link rel="stylesheet" href="{% static 'django_tables2/bootstrap.css' %}" />
{% endblock head %}

{% block content %}

<div>
  <br>
 <button type="button" class = "btn btn-default glyphicon glyphicon-chevron-left" <a href = "< input type=button value="Previous Page" onClick="javascript:history.go(-1);"  ""> </a>
</button>
  <br>
  <h1>
    Name of Student: {{Student.f_name}} {{Student.l_name}}
  </h1>
  <h2>
    Student zID: {{Student.zID}} 
  </h2>
  <h4>
    <ul>
      Email: {{Student.email}}
    </ul>
    <ul>
      Degree: {{Student.degreeCode}}
    </ul>
    <ul>
      Start Year: {{Student.startYear}}
    </ul>
    <a href = "/student/{{Student.zID}}/courses_taken">
      Previous and current courses undertaken
    </a>
  </h4>
</div>

<div>
  <h2>
    All consultations:
  </h2>

  {% render_table student_consult %} 

</div> 
{% endblock %}