{% extends "base1.html" %}
{% load crispy_forms_tags %}}
<!--{% load render_table from django_tables2 %} -->


{% block content %}
  <div class = "row">
    <div class = "col-md-6">
      <a href = "/student"> Return to students </a>

      <form action="" method="get">
          {{ filter.form|crispy }}
          <input type="submit" />
      </form>
      
      {% for obj in filter.qs %}
          <ul><a href="/student/{{obj.zID}}"> {{obj.zID}} {{obj.f_name}} {{obj.l_name}}</a></ul>
      {% endfor %}
      
    </div>
</div>
{% endblock %}