{% load staticfiles i18n %}
{% load staticfiles %}
{% load bootstrap_calendar %}


<!DOCTYPE html>
	<html lang="en">
	<head>
	    <title>INFS3605</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	   
			{% block css %}
			{% bootstrap_calendar_css %}
			{% endblock %}
			
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
		 
      {% block head %}
      {% endblock %}
			
			{% block angular %}
		  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
			{% endblock %}
			<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
	    

	    
	        <!-- Bootstrap Core CSS FOR OFFLINE
    	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    	<script src="js/bootstrap.min.js"></script> -->


	</head>
	
	<body>
		<div class="rapper">		
		
			<div class="top">
				<div class="row" id="banner">
					<div class="col-md-2">
						<a href="/calendar"> <img id="logo" src="{% static 'images/UNSW.png' %}"></a>
					</div>
					<div class="col-md-10" id="UGCIS"> <blockquote>	UGC System</blockquote></div>	
				</div>


				<nav class="navbar navbar-default">
					<div id="yellowbar"> </div>
					<div class="container-fluid" id="navSize">

						<!-- navbar menu items -->
						<div>
							<ul class="nav navbar-nav" >
								<li class = "{% block home_active %} {% endblock home_active %}"> <a href="/calendar/"> Home </a></li> <!-- active highlights the page you're on (faded tab)-->
								<li class = "{% block student_active %} {% endblock student_active %}"> <a href="/student/" id="test"> Students </a></li>
								<li class = "{% block alerts_active %} {% endblock alerts_active %}"> <a href="/calendar/alerts">  Alerts </a></li>
								<li class= "{% block course_active %} {% endblock course_active %}" ><a href="/courses"> Courses </a></li>
								<!-- drop down for reports -->
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/report/consultations">By Appointments</a></li>
										<li><a href="/report/students">By Students</a></li>
									</ul>	
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li id = "log_in_detail">You are logged in as: {{user.get_username}}</li> 
								<li> <a href="{% url 'django.contrib.auth.views.logout'%}" id="logout" > Logout </a></li> 
								{% csrf_token %}
							</ul>


						</div>					

					</div>

			</nav>	
	<!-- START OF CALENDAR DIV (Jeff)-->
			<div class="container-fluid"  style="padding: 0px; margin: 0px;" >

				{% block content %}
				{% endblock content %}

			</div> <!-- /container -->

			{% block modal %}{% endblock modal %}
			 <!-- Le javascript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			{% block javascript %}
				<script src="{% static 'js/jquery.min.js' %}"></script>
				<script src="{% static 'js/bootstrap.min.js' %}"></script>
				<script type="text/javascript" src="components/jstimezonedetect/jstz.min.js"></script>
			<!-- Sidebar Appointment script -->
			<script>
			jQuery(document).ready(function($) {
				$(".clickable-row").click(function() {
						window.location = $(this).data("href");
				});
			});
			</script>
			<!-- Sidebar Toggle-->
			<script>
				$("#sidebar-toggle").click( function (e){
					e.preventDefault();
					$("#wrapper").toggleClass("menuNotDisplayed"); 
				});
			</script>


				<!-- Your stuff: Third-party javascript libraries go here -->

				<!-- place project specific Javascript in this file -->
				<script src="{% static 'js/underscore-min.js' %}"></script>
				{% bootstrap_calendar_js language='en-EN' %} 
				{% bootstrap_calendar_init language='en-EN' %}
			{% endblock javascript %}
			</div>


			<!-- footer code -->


			<footer>			
				<div class="row">
					<div class="col-lg-12">
							<ul id="footerlinks">
								<li><a href="https://www.unsw.edu.au/privacy" target="_blank"> Privacy Policy    </a> <span class="divider"> | </span> </li>
								<li><a href="https://www.unsw.edu.au/copyright-disclaimer" target="_blank"> Copyright & Disclaimer   </a>  <span class="divider"> | </span> </li>
								<li><a href="https://www.unsw.edu.au/accessibility" target="_blank"> Accessibility  </a>  <span class="divider"> | </span> </li>
								<li><a href="https://www.unsw.edu.au/sitemap" target="_blank"> Sitemap  </a> <span class="divider"> | </span>  </li>
								<li><a href="https://www.unsw.edu.au/unsw-website-feedback" target="_blank"> Site Feedback </a> </li>

						</ul>

					</div>
					<div class="col-lg-12" id="footerInfo">
						UNSW Sydney NSW 2052 Australia
						<br> Telephone: +61 2 9385 1000
						<br> CRICOS provider Code 00098G ABN: 57 195 873 179
						<br> Authorised by the Chief Technology Officer, UNSW
						<br> Last updated: 29th October 2014

					</div>

				</div>


			</footer>
			<div class="push"></div>
		</div>
			<div class="footer"></div>
	</body>

</html>
