html, body{
}

#studentRowOne{
	height:80px;;
	background-color: #e4e4e4;
	padding:0px;
	padding-top: 20px;	
	margin-top:0px;
	border:0px;	
}

#Students{
	padding-left:60px; 
	border:0px; 
	margin:0px;
}

#studentPageContent{
  padding: 60px;
  margin: 0px;
  border: 0px;
  width: 100%;
}

.btn{
  border-radius: 0px;
}


#bodyBanner{
  background-color: #E6E6E6;
  padding: 10px 0px 5px 50px;
  height: 45px;
}

#createButton{
	align-items: right;
	padding-left: 15px;
}

/*h1 {
	text-align: left;
	font-family: "Helvetica", "Arial";
	font-size: 16pt;
	font-weight: normal;
	background-color: #F2F2F2;
	line-height: 40px;
	padding: 5px;
}*/

.span3 {
	padding-left: 5px;
}


p{
	font-size: 14pt;
	font-weight: normal;
    color: #00568e;
}

h5 {
    color: #0072c6 !important;
}

#p1 {
    font-size: 10pt;
    font-weight: italic;
}

form {
    padding: 15px; 
    background-color: #e7eff8; 
    border: #e7eff8 solid;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

h1{
	padding-left:15px;
}

button{
	padding-left: 40px;
	padding-bottom: 15px;
}